* {
  margin: 0;
  padding: 0;
}
.header {
  height: 100vh;
  background-color: #4877fb;
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
}
.main {
  height: 100vh;
  background-color: #cccccc;
}
.navigation-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4877fb;
  padding: 20px 0;
}
.title-container {
  flex: 5;
  display: flex;
  padding-bottom: 50px;
}
.nav-logo {
  height: 50px;
  display: block;
}
.navigation-links {
  display: flex;
}
.navigation-links a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0px 16px;
}
.title-text {
  flex: 4;
  display: flex;
  align-items: center;
}
.title-video {
  flex: 3;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.projects-button {
  display: block;
  background-color: #8faaf5;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  margin-top: 30px;
}
.title-heading {
  color: white;
  font-size: 50px;
}

.description {
  color: #ccc;
  font-size: 20px;
  margin-top: 10px;
}
.card {
  background-color: #fff;
  width: 20%;
  padding: 40px;
  height: 350px;
}
.card-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  background-color: grey;
  margin-top: 16px;
}
.slika {
  width: 50px;
}
.link-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card-title {
  margin: 16px 0;
}
.arrow {
  width: 20px;
}
.cards-container {
  display: flex;
  padding: 100px;
}
.p-1 {
  padding: 8px;
}
